body {
	font-family: Roboto, sans-serif; 
	background-color: #0099ff; 
}

.logo {
	height: 35px; 
	width: 400px;
	margin-left: auto;
	margin-right: auto; 
	background-image: url("https://tf-curricula-prod.s3.amazonaws.com/curricula/5b3249003592fc371bac5c6254b50c9c/FEWD-001/v6/assets2/1.6.2_challenge_signup_form/logo.png"); 
	background-position: center; 
	background-size: contain; 
	background-repeat: no-repeat;
}

.logo img {
	height: 35px; 
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}